#row {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#row div {
    width: 280px;
    height: 280px;
    cursor: pointer;
}

#row img {
    width: 100%;
    height: 100%;
}

#row #precoriscado {
    text-decoration: line-through;
}

#row #preconormal {
    color: #98B020;
}

#desconto {
    width: auto;
    background-color: #98B020;
    color: #fff;
    padding: 0px 4px 2px 0px;
    border-radius: 5px;
    margin-left: 5px;
}

#row h6 {
    font-size: 13px;
    font-weight: 600;
}